/* style.css */
body {
  background-color: #0E0C0F;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
  display: flex;
}
div {
  line-height: 1.125;
}
.hidden {
  display: none !important;
}

/* Main Menu - Including title and puzzle selector buttons */
#menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  margin: auto;
  overflow-x: hidden;
}
.menu-title {
  display: inline-block;
  font-size: calc(var(--pencil-size) * 2);
  font-weight: bold;
  color: #E0E0E0;
}
.menu-title > span {
  display: inline-block;
  will-change: transform;
  animation: titleColorChange 1.5s ease-out both;
  animation-delay: calc(var(--anim-delay) * 0.04s);
}
@keyframes titleColorChange {
  0%   { transform: translateY(0); opacity: 0%; }
  0%   { color: rgb(255, 255, 255); }
  10%  { transform: translateY(calc(0px - var(--pencil-size) * 0.4)); opacity: 100%; }
  50%  { color: rgb(140, 130, 240); }
  50%  { transform: translateY(0); opacity: 100%; }
  100% { color: rgb(255, 255, 255); }
}
.menu-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(var(--board-size) + 2 * var(--border-size));
  width: calc(var(--board-size) + 2 * var(--border-size));
  overflow-x: hidden;
  margin: auto;
}
.menu-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.menu-button {
  position: relative;
  display: flex;
  border: 4px solid #EEEEEE;
  border-radius: 4px;
  margin: 6px;
  background-color: black;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  font-size: calc(0.03 * var(--board-size));
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  animation: menuButtonIntro 1s ease-out both;
  animation-delay: calc(var(--anim-delay) * 0.1s);
  will-change: transform;
}
@keyframes menuButtonIntro {
  0%    { opacity: 0%;   }
  100%  { opacity: 100%; }
}
.menu-button:hover {
  border-color: rgb(140, 130, 240);
}
.menu-button-cell-container {
  display: flex;
  flex-direction: column;
  padding: calc(var(--border-size) * 0.3);
  gap: calc(var(--border-size) * 0.3);
  width: calc(100% - var(--border-size) * 0.6);
  height: calc(100% - var(--border-size) * 0.6);
  border-radius: 17px;
}
.menu-button-cell-row {
  display: flex;
  flex: 1;
  gap: calc(var(--border-size) * 0.3);
}
.menu-button-cell {
  display: flex;
  flex: 1;
  position: relative;
  border-radius: 2px;
  background-color: #29262D;
  aspect-ratio: 1/1;
  user-select: none;
}
.menu-button:hover .menu-button-cell {
  animation: menuCellColorChange 1.5s ease-in-out infinite;
  animation-delay: calc(var(--anim-delay) * 0.5s); /* Delay each cell */
}
@keyframes menuCellColorChange {
  0% { }
  50% { background-color: rgb(140, 130, 240); }
  100% { }
}
.menu-button-title {
  font-size: calc(0.06 * var(--board-size));
}
.menu-button:hover .menu-button-title {
  animation: buttonColorChange 1.5s ease-in-out infinite;
}
@keyframes buttonColorChange {
  0%    { color: rgb(140, 130, 240); }
  50%   { color: rgb(255, 255, 255); }
  100%  { color: rgb(140, 130, 240); }
}
.menu-button-overlay {
  position: absolute;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.6)),
    url("./images/glass.png") center / cover no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: transform 0.25s ease-in-out;
  animation: menuOverlayIntro 0.3s ease-out backwards;
  animation-delay: calc(var(--anim-delay) * 0.1s);
  will-change: transform;
}
@keyframes menuOverlayIntro {
  0%   { transform: scale(1.3); }
  100%  { transform: scale(1); }
}
.menu-button:hover .menu-button-overlay {
  transform: scale(1.3);
}
.menu-button-overlay > span {
  transition: transform 0.25s ease-in-out;
}
.menu-button:hover .menu-button-overlay > span {
  transform: scale(0.85);
}

/* Game View - including game board, cells, and all input buttons */
#game-container {
  padding: var(--border-size);
  overflow-x: hidden;
  margin: auto;
}
#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 300;
  height: var(--board-size);
  width: var(--board-size);
  background-color: #E0E0E0;
  border: 6px solid black;
  outline: var(--border-size) solid #29262D;
  margin-top: var(--border-size);
  border-radius: 1px;
  gap: 6px;
}
.row {
  display: flex;
  flex: 0 0 var(--row-size);
  margin: -2px;
  gap: 2px;
}
.cell {
  display: flex;
  flex: 0 0 var(--cell-size);
  position: relative;
  border: 6px solid black;
  border-radius: 4px;
  margin: -4px;
  background-color: #EEEEEE;
  background-clip: content-box;
  min-height: 30px;
  aspect-ratio: 1/1;
  user-select: none;
  cursor: pointer;
}
.cell-value {
  font-size: 80px;
  line-height: 100%;
  margin: auto;
  user-select: none;
  pointer-events: none;
}
.mod-text {
  font-size: 34px;
  position: absolute;
  top: 5%;
  left: 5%;
  user-select: none;
  pointer-events: none;
}
.candidates {
  font-size: 30px;
  position: absolute;
  text-align: right;
  top: 97%;
  right: 5%;
  transform: translateY(-100%);
  user-select: none;
  pointer-events: none;
}

.completion-banner {
  position: absolute;
  color: rgb(140, 130, 240);
  font-size: calc(0.1 * var(--board-size) + 16px);
  letter-spacing: calc(0.01 * var(--board-size));
  margin: -30px;
  text-align: center;
  pointer-events: none;
}
.thick-shadow {
  text-shadow:
     5px  0px 0 black,
    -5px  0px 0 black,
     4px  2px 0 black,
    -4px  2px 0 black,
     4px -2px 0 black,
    -4px -2px 0 black,
     3px  3px 0 black,
    -3px  3px 0 black,
     3px -3px 0 black,
    -3px -3px 0 black,
     2px  4px 0 black,
    -2px  4px 0 black,
     2px -4px 0 black,
    -2px -4px 0 black,
     0px  5px 0 black,
     0px -5px 0 black;
}
.thin-shadow {
  text-shadow:
     3px  0px 0 black,
    -3px  0px 0 black,
     0px  3px 0 black,
     0px -3px 0 black,
     1px  2px 0 black,
    -1px  2px 0 black,
     1px -2px 0 black,
    -1px -2px 0 black,
     2px  1px 0 black,
    -2px  1px 0 black,
     2px -1px 0 black,
    -2px -1px 0 black;
}
.completion-letter {
  display: inline-block;
  animation: jumpUp 1s ease-out both;
  animation-delay: calc(var(--anim-delay) * 0.05s);
  will-change: transform;
}
@keyframes jumpUp {
  0%   { transform: translateY(0); opacity: 0%; }
  20%  { transform: translateY(calc(0px - var(--pencil-size))); opacity: 100%; }
  100% { transform: translateY(0); opacity: 100%; }
}
.completion-animation {
  animation: completionColorChange 2s ease-in-out;
  animation-delay: calc(var(--anim-delay) * 0.8s); /* Delay each cell */
}
@keyframes completionColorChange {
  0% { background-color: #EEEEEE; }
  50% { background-color: rgb(140, 130, 240); }
  100% { background-color: #EEEEEE; }
}

#top-container {
  display: flex;
  width: max-content;
  background-color: #171619;
  border-radius: 8px 8px 0px 0px;
  margin: 0px auto;
  padding: 12px;
  gap: 12px;
}
.top-button {
  background-color: #0E0B11;
  border: 3px solid #45414C;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: var(--pencil-size);
  user-select: none;
  font-weight: bold;
  color: #EEEEEE;
  cursor: pointer;
}
.top-button:hover {
  border: 3px solid rgb(140, 130, 240);
}

#input-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 200;
  width: max-content;
  background-color: #171619;
  border-radius: 0px 0px 8px 8px;
  margin: var(--border-size) auto auto;
  gap: calc(4px + 0.5*var(--border-size));
  padding: 11px;
  max-width: calc(0.95*var(--board-size));
  user-select: none;
}
.input-button, .input-candidate-button {
  display: flex;
  background-color: #0E0B11;
  border: 4px solid #45414C;
  border-radius: 1000px;
  height: var(--input-size);
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  font-size: calc(0.8*var(--input-size));
  user-select: none;
  cursor: pointer;
}
.input-button:hover {
  border: 4px solid rgb(140, 130, 240);
}
.input-candidate-button:hover {
  border: 4px solid rgb(240, 230, 140);
}

#pencil-container {
  position: relative;
  z-index: 100;
  background-color: #171619;
  margin: auto;
  border-radius: 0px 0px 8px 8px;
  gap: calc(0.5*var(--border-size));
  padding: 12px;
  padding-top: 0px;
  width: max-content;
  user-select: none;
  cursor: pointer;
}
.pencil-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0E0B11;
  border: 3px solid #45414C;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: var(--pencil-size);
  user-select: none;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}
.pencil-box {
  display: flex;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #EEEEEE;
  min-height: calc(0.8 * var(--pencil-size));
  max-height: calc(0.8 * var(--pencil-size));
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  font-size: calc(0.8 * var(--pencil-size));
  user-select: none;
  pointer-events: none;
}
.pencil-text {
  font-size: var(--pencil-size);
  font-weight: bold;
  color: #EEEEEE;
  margin: 0px 2px 0px 7px;
  user-select: none;
  pointer-events: none;
}

/* Cell faint borders */
.no-top {
  border-top-color: rgba(0,0,0,0);
}
.no-right {
  border-right-color: rgba(0,0,0,0);
}
.no-bot {
  border-bottom-color: rgba(0,0,0,0);
}
.no-left {
  border-left-color: rgba(0,0,0,0);
}

/* Hyperlinks */
a {
  color: #0066cc;
}
a:hover {
  color: rgb(240, 230, 140) !important;
}
a:visited {
  color: #0066cc;
}