/* style.css */
body {
  background-color: #0E0C0F;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: calc(100vh - 20px);
  overflow-x: hidden;
  display: flex;
}
div {
  line-height: 1.125;
}
#main-container {
  padding: var(--border-size);
  overflow-x: hidden;
  margin: auto;
}
#board-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 300;
  height: var(--board-size);
  width: var(--board-size);
  background-color: #E0E0E0;
  border: 6px solid black;
  outline: var(--border-size) solid #252129;
  border-radius: 1px;
  gap: 6px;
}
.row {
  display: flex;
  flex: 0 0 var(--row-size);
  margin: -2px;
  gap: 2px;
}
.cell {
  display: flex;
  flex: 0 0 var(--cell-size);
  position: relative;
  border: 6px solid black;
  border-radius: 4px;
  margin: -4px;
  background-color: rgb(238,238,238);
  background-clip: content-box;
  min-height: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.cell-value {
  font-size: 80px;
  line-height: 100%;
  margin: auto;
  pointer-events: none;
}
.mod-text {
  font-size: 34px;
  position: absolute;
  top: 5%;
  left: 5%;
  pointer-events: none;
}
.candidates {
  font-size: 30px;
  position: absolute;
  text-align: right;
  top: 97%;
  right: 5%;
  transform: translateY(-100%);
  pointer-events: none;
}

#input-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 200;
  background-color: #302B35;
  margin: var(--border-size) auto auto;
  border-radius: 0px 0px 8px 8px;
  padding: 0px 3px;
  width: max-content;
}
.input-button {
  display: flex;
  border: 4px solid black;
  border-radius: 1000px;
  background-color: rgb(238,238,238);
  height: var(--input-size);
  margin: 6px 3px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.input-button-value {
  font-size: calc(0.8*var(--input-size));
  line-height: 100%;
  margin: auto;
  cursor: pointer;
}

#pencil-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;
  background-color: #302B35;
  /* background-color: #18121B; */
  margin: auto;
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
  width: max-content;
  max-width: calc(0.8*var(--board-size));
  gap: 10px;
  cursor: pointer;
}
.pencil-button {
  display: flex;
  border: 4px solid black;
  border-radius: 2px;
  background-color: rgb(238,238,238);
  min-height: var(--pencil-size);
  max-height: var(--pencil-size);
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  font-size: var(--pencil-size);
  pointer-events: none;
}
.pencil-text {
  font-size: var(--pencil-size);
  font-weight: bold;
  color: white;
  line-height: 100%;
  margin: 4px 2px -4px -1px;
  pointer-events: none;
}

/* Cell faint borders */
.no-top {
  border-top-color: rgba(0,0,0,0);
}
.no-right {
  border-right-color: rgba(0,0,0,0);
}
.no-bot {
  border-bottom-color: rgba(0,0,0,0);
}
.no-left {
  border-left-color: rgba(0,0,0,0);
}

/* Header */
h1 {
  margin-top: 0px;
  margin-bottom: 14px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 34px;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.colorful-text span {
  display: inline-block;
  animation: colorChange 2s ease-in-out;
  animation-delay: calc(var(--i) * 0.05s); /* Delay each letter */
}
@keyframes colorChange {
  0% { color: rgb(255, 255, 255); }
  50% { color: rgb(140, 130, 240); }
  100% { color: rgb(255, 255, 255); }
}

/* Hyperlinks */
a {
  color: #0066cc;
}
a:hover {
  color: rgb(240, 230, 140) !important;
}
a:visited {
  color: #0066cc;
}